.home_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel {
  width: 200px;
  height: 100px;
  background: gray;
  margin-top: 10px;
}

.example-enter {
  height: 0px;
}

.example-enter.example-enter-active {
  height: 100px;
  -webkit-transition: height .3s ease;
}

.example-leave.example-leave-active {
  height: 0px;
  -webkit-transition: height .3s ease;
}