$fontColor: #383838;
$cardFontColor: #707070;
$fadeColor: #909090;
$borderColor: #ebebeb;
$linkHoverColor: #007bff;
$linkFontColorDeepBlue: #0056ac;

.custom-container {
  display: flex;
  flex-direction: column;
}
.custom-container h2{
  text-align: center;
  font-size: 36px;
  line-height: 70px;
  color: $fontColor;
}
.custom-container-subheading {
  width: 56%;
  margin: auto;
  text-align: center;
  color: $cardFontColor;
  font-family: Quicksand,sans-serif!important;
  font-size: 18px;
  line-height: 30px;
}
.custom-container p a {
  color: $linkHoverColor;
  opacity: 0.8;
}
.custom-container p a:hover {
  text-decoration: none;
}
// ---- MINI-CARD-CONTAINER ---------------- //
.mini-card-container {
  margin: 2em;
  display: flex;
  overflow: hidden;
  // width: 100%;
}
.mini-card {
  margin: 3em 3px 3em 3px;
  position: relative;
  height: 380px;
  flex: 1 1 100%;
  border: 1px solid $borderColor;
}
.mini-card__round-background-color {
  position: absolute;
  min-height: 110px;
  min-width: 110px;
  left: 34%;
  top: 0;
  border-radius: 50%;
  border: 1px solid $linkFontColorDeepBlue;
}
.mini-card__round-background {
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  left: 35.5%;
  top: 5px;
  border-radius: 50%;
  z-index: 5;
  // background: $linkFontColorDeepBlue;
}

.mini-card__round-image img {
  position: absolute;
  max-height: 50px;
  top: 30px;
  left: -8px;
  z-index: 6;
}
.mini-card-content {
  position: absolute;
  top: 20%;
}
.mini-card-content p {
  text-align: center;
  font-family: Nunito Sans,sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: $fontColor;
  padding: 0 20px;
}
.mini-card-content p:nth-child(1) {
  margin-bottom: 10px;
  font-family: Nunito Sans,sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $fontColor
}